<div class="event">
              <div class="small-3 medium-2 columns date-container"><span class="date">{tag_bookingmonth} {tag_bookingday}</span> </div>
  
              <div class="small-9 medium-10 columns">
                <h5>{tag_name}</h5>   <div class="event-details">Date: {tag_bookingmonth} {tag_bookingday}, {tag_bookingyear}  | {tag_percentfull} of {tag_capacity} booked</div>
                <p class="event-description">{tag_body, 150}</p>
              </div>
            </div><!--end event item-->