<!doctype html>
<html class="no-js" lang="en">

    <head>
        <title>{tag_pagetitle} | Winking Lizard</title>
        {%include "/_settings/_siteComponents/head.tpl"%}
    </head>
    
    <body>
        <div class="main-container">
            {%include "/_settings/_siteComponents/header.tpl"%}

            {tag_pagecontent}
            

            {%include "/_settings/_siteComponents/footer.tpl"%}
            
        </div>
        {%include "/_settings/_siteComponents/footer-scripts.tpl"%}
        
        
    </body>
    
</html>